/*
 *
    Bleu pale: #085778
    Maron rouge: #692415
    Marron foncé: #2E2A27
    Or: #A7905A
*/
body{
    background: url('images/rideau.png') repeat;
}
@media (min-width: 1200px) {
    .container.page{
        max-width: 920px;
    }
}
.page>div{
    margin-bottom: 10px;
}
.carre{
    background: url('images/parchemin2.png') repeat;
    border-radius: 0;
    padding: 8px;
}
.carre>h1{
    text-align: center;
    margin: auto;
}
q{
    padding: 10px;
}
.citation{
    width: 100%
}
.citation span{
    float: right;
    margin-bottom: 0;
}
.navbar{
    background: url('images/fur1.png') repeat;
}
.navbar a{
    color: #A7905A;    
}
.navbar-brand{
    margin: 0;
    padding: 0;
    height: 33px;
}
.page{
    margin-top: 70px;
}
.carre .card-body{
    padding: 10px;
    padding-bottom: 0;
}
.carre.card h5{
    margin: 0;
    margin-bottom: 8px;
}
.carre.card a{
    color: #692415;
}
.table_ronde .card .perso{
    /*height: 182px;*/
}
#social{
    display: block;
}
#social ul{
    text-align: center;
}
#social li{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    display: inline-block;
}
#social a{
    background-size: 50px 50px;
    image: no-repeat;
    display: block;
    width: 50px;
    height: 50px;    
}
#social .fb{
    background-image: url("images/Facebook.svg");
}
#social .yt{
    background-image: url("images/YouTube.svg");
}
#social .tw{
    background-image: url("images/Twitter.svg");
}

.commandes .card{
    margin-right: 5px;
}
    
@media (min-width: 1200px){
    #social{
        width: 100px;
        height: 170px;
        position: fixed;
        right: 20px;
        top: 180px;
        display: block;
    }
    #social li{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1000px){
    nav .dropdown-menu {
        min-width: 300px;
    }
}
@media (max-width: 1000px){
    nav .dropdown-toggle {
        display: none;
    }
    nav .dropdown-menu {
        display: block;
    }
}