body{
    background: none;
    background-color: pink;
}
nav, .navbar{
	display: none;
}
.navbar{
    background: none repeat;
	background-color: brown;
}
.navbar a{
    color: lime;
}
.navbar-brand{
	display: none;
}
.ml-auto {
    margin: auto;
}
.card-img-top{
	display: none;
}
.carre{
    background: none;
	background-color: pink;
}

.carre.card {
    margin: 0;
}
p{
	color: red;
}

footer {
	display: none;
}